<div class="grid-container">

{{#each albums}}

<div class="grid-item">

<img src="{{images.[1].url}}" alt="poster for {{name}}">
<h2>
    {{name}}
</h2>

<a href="/albums/tracks/{{id}}" >View Tracks</a>

</div>

{{/each}}

</div>