<div class="background">
<div class="container-background">
<form action="/search" method="GET">
    <input type="text" id="search" name="queryTyped">
    <button type="submit">Search for an Artist</button>
</form>
</div>
</div>